.scroll-top-button-container
  position fixed
  right -100px
  bottom 150px
  transition right var(--transition-fast)
  background-color var(--primary-color)
  border-radius var(--radius)

.scroll-top-button-transition
  right 10px
